<!DOCTYPE html>
<html data-theme="coffee">
<head>
    <title>My Django App</title>
    {% load static %}
    <link href="{% static 'css/output.css' %}" rel="stylesheet"/>
    
</head>
<body>
    <button class="btn btn-primary">Hello daisyUI</button>
    <button class="btn btn-primary">Test DaisyUI</button>
<div class="alert alert-success shadow-lg mt-4">
  <div><span>DaisyUI est bien installé !</span></div>
</div>
</body>
</html>
<html data-theme="dark">
  <div data-theme="light">
    This div will always use light theme
    <span data-theme="retro">This span will always use retro theme!</span>
  </div><br><br>
  <br>
  <div class="dropdown">
  <div tabindex="0" role="button" class="btn m-1">Click</div>
  <ul tabindex="-1" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
    <li><a>Item 1</a></li>
    <li><a>Item 2</a></li>
  </ul>
</div>
</html>